<br>
<div class="row">
  <div class="span7">
    <form method="post" action="/valida" class="form-stacked">
      <div class="clearfix">

        <label for="nombre">Nombre</label>

        <div class="input">
          <input class="large" name="nombre" size="30" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="compania">Compañia</label>

        <div class="input">
          <input class="large" name="compania" size="30" type="text"/>
        </div>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">E-mail</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="medium" name="mail" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">Telefono</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">#</span>
            <input class="medium" name="telefono" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <div class="clearfix">
        <label for="stackedSelect">Estado</label>


      </div>
      <!-- /clearfix -->


      <div class="clearfix">
        <label for="textarea">Pregunta</label>

        <div class="input">
          <textarea class="xxlarge" name="pregunta" rows="3"></textarea>
                                    <span class="help-block"> Escribe tu comentario o pregunta
                                    </span>

        </div>
      </div>

      <!-- /clearfix -->
      <br/>


      &nbsp;
      <button class="btn success" type="submit">Enviar</button>
      &nbsp;
      <button class="btn danger" type="reset">Limpiar</button>

    </form>

  </div>


  <div class="span5">
    <h3>Dirección</h3>
    <address>
      <strong>Dexter Suasor</strong><br/>
      Ensenada 91<br/>
      Del. Cuauhtémoc<br/>
      México DF<br/>
      <abbr title="Phone">Tel:</abbr> +52 (55) 4329 9710 <br/>
      <abbr title="ID">ID:</abbr> 62*12*29030

    </address>
    <address>
      <strong>E-mail</strong><br/>
      <a href="mailto:soporte@dextersuasor.com">soporte@dextersuasor.com</a>

    </address>
    <img src="images/rojo3.jpg" width="130" height="140"/>


  </div>
  <div class="span5">
    <h3>Mapa </h3>

    <ul class="media-grid">
      <li>
        <a href="#">
          <img class="thumbnail">
          <iframe width="310" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Ensenada+91+Del.+Cuauht%C3%A9moc+M%C3%A9xico+DF&amp;aq=&amp;sll=23.625269,-102.540613&amp;sspn=23.175469,36.870117&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Ensenada+91,+Hip%C3%B3dromo,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&amp;t=p&amp;ll=19.407669,-99.175901&amp;spn=0.024286,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
          <br/>

        </a>
      </li>
    </ul>
    <small>
      <a href="http://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es-419&amp;geocode=&amp;q=Ensenada+91+Del.+Cuauht%C3%A9moc+M%C3%A9xico+DF&amp;aq=&amp;sll=23.625269,-102.540613&amp;sspn=23.175469,36.870117&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Ensenada+91,+Hip%C3%B3dromo,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&amp;t=p&amp;ll=19.407669,-99.175901&amp;spn=0.024286,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver
        mapa más grande</a></small>


  </div>
</div>