<br>
<% if   @confirmacion %>

  <div id="alerta" class="alert-message success" data-alert="alert">
    <a class="close" href="#">&times;</a>

    <p>Tu solicitud ha sido procesado, en las proximas 24 horas recibiras una respuesta de uno de nuestros
      ejecutivos.</p>
  </div>

<% end %>

<div class="row">
  <div class="span16">
    <p>¿Quieres pertenecer a nuestro equipo como Inspector, o trabajar en alguna empresa en el extranjero como
      soldador?</p>

    <p>&nbsp;Simplemente llena el siguiente formulario acorde a tu perfil.</p>
  </div>


</div>
<br>
<br>
<div class="row">
<div class="span7">


  <h3>Soldador.</h3>
  <img src="images/linea.png" width="465px" height="10px"/>

  <form method="post" action="/valida_soldador" class="form-stacked">
    <div class="clearfix">

      <label for="nombre">Nombre</label>

      <div class="input">
        <input class="large" name="nombre" size="30" type="text"/>
      </div>
      <span class="help-block">Campo Obligatorio</span>

    </div>

    <!-- /clearfix -->

    <div class="clearfix">
      <label for="prependedInput">E-mail</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">@</span>
          <input class="medium" name="mail" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>
    <!-- /clearfix -->

    <div class="clearfix">
      <label for="prependedInput">Tel&eacute;fono</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">#</span>
          <input class="medium" name="telefono" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>

    <div class="clearfix">
      <label for="prependedInput">Tel&eacute;fono Celular</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">#</span>
          <input class="medium" name="cel" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>

    <div class="clearfix">
      <label for="compania">Edad</label>

      <div class="input">
        <input class="small" name="edad" size="10" type="text"/>
      </div>

    </div>
    <!-- /clearfix -->

    <div class="clearfix">
      <label for="stackedSelect">Estado de Residencia</label>

      <div class="input">
        <select name="estado" id="stackedSelect">
          <% for x in 0...@estados.size do %>    <!-- @estados.size.downto(0) metodo reverse -->
            <option value="<%= @estados[x][:name] %>"> <%= @estados[x][:name] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <!-- /clearfix -->


    <div class="clearfix">
      <label for="textarea"> Procesos de soldadura que manejas:
      </label>

      <div class="input">
        <textarea class="xlarge" name="proceso_soldadura" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>
    <div class="clearfix">
      <label for="textarea"> Tipo de materiales que sueldas:
      </label>

      <div class="input">
        <textarea class="xlarge" name="materiales" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>


    <div class="clearfix">
      <label for="compania"> Años de experiencia como soldador:
      </label>

      <div class="input">
        <input class="small" name="experiencia" size="10" type="text"/>
      </div>
      <span class="help-block">Campo Obligatorio</span>

    </div>

    <div class="clearfix">
      <label for="textarea"> Principales empresas o proyectos en donde has estado:
      </label>

      <div class="input">
        <textarea class="xlarge" name="proyectos" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>

    <div class="clearfix">
      <label for="stackedSelect"> Estarías dispuesto a cambiar de residencia y/o trabajar en un proyecto fuera del país?
      </label>

      <div class="input">
        <select name="dispuesto">
          <option value="0"></option>
          <option value="No"> No</option>
          <option value="Si"> Si</option>
        </select>
      </div>
      <span class="help-block">Campo Obligatorio</span>

    </div>

    <!-- /clearfix -->
    <br/>


    &nbsp;
    <button class="btn success" type="submit">Enviar</button>
    &nbsp;
    <button class="btn danger" type="reset">Limpiar</button>

  </form>

</div>

<div class="span2">
  &nbsp;
</div>


<div class="span7">
  <h3>Inspector de Soldadura.</h3>
  <img src="images/linea.png" width="465px" height="10px"/>

  <form method="post" action="/valida_inspector" class="form-stacked">
    <div class="clearfix">

      <label for="nombre">Nombre</label>

      <div class="input">
        <input class="large" name="nombre" size="30" type="text"/>
      </div>
      <span class="help-block">Campo Obligatorio</span>

    </div>

    <!-- /clearfix -->

    <div class="clearfix">
      <label for="prependedInput">E-mail</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">@</span>
          <input class="medium" name="mail" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>
    <!-- /clearfix -->

    <div class="clearfix">
      <label for="prependedInput">Tel&eacute;fono</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">#</span>
          <input class="medium" name="telefono" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>

    <div class="clearfix">
      <label for="prependedInput">Tel&eacute;fono Celular</label>

      <div class="input">
        <div class="input-prepend">
          <span class="add-on">#</span>
          <input class="medium" name="cel" size="20" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>
      </div>
    </div>

    <div class="clearfix">
      <label for="compania">Edad</label>

      <div class="input">
        <input class="small" name="edad" size="10" type="text"/>
      </div>

    </div>
    <!-- /clearfix -->

    <div class="clearfix">
      <label for="stackedSelect">Estado de Residencia</label>

      <div class="input">
        <select name="estado">
          <% for x in 0...@estados.size do %>    <!-- @estados.size.downto(0) metodo reverse -->
            <option value="<%= @estados[x][:name] %>"> <%= @estados[x][:name] %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="clearfix">
      <label for="stackedSelect">Grado de estudios</label>

      <div class="input">
        <select name="grado">
          <option value="No tiene"></option>
          <option value="Primaria">Primaria</option>
          <option value="Secundaria">Secundaria</option>
          <option value="Preparatoria">Preparatoria</option>
          <option value="Universidad">Universidad</option>
        </select>
      </div>
      <span class="help-block">Campo Obligatorio</span>
    </div>
    <!-- /clearfix -->

    <div class="clearfix">
      <label for="textarea">Certificaciones:
      </label>

      <div class="input">
        <textarea class="xlarge" name="certificaciones" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>

    <div class="clearfix">
      <label for="textarea">Técnicas de Inspección que conoces:
      </label>

      <div class="input">
        <textarea class="xlarge" name="tecnicas" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>

    <div class="clearfix">
      <label for="textarea">Procesos de soldadura que manejas:
      </label>

      <div class="input">
        <textarea class="xlarge" name="proceso_soldadura" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>

    <div class="clearfix">
      <label for="compania">Años de experiencia como Inspector:
      </label>

      <div class="input">
        <input class="small" name="experiencia" size="10" type="text"/>
      </div>
      <span class="help-block">Campo Obligatorio</span>

    </div>

    <!-- /clearfix -->

    <div class="clearfix">
      <label for="textarea">Principales empresas o proyectos en donde has estado:
      </label>

      <div class="input">
        <textarea class="xlarge" name="empresas" rows="3"></textarea>
        <span class="help-block">Campo Obligatorio</span>


      </div>
    </div>
    <br/>


    &nbsp;
    <button class="btn success" type="submit">Enviar</button>
    &nbsp;
    <button class="btn danger" type="reset">Limpiar</button>

  </form>

</div>

</div>

