<br>
<h3 id="a1">Formación de soldadores para proyectos de construcción.</h3>
<img src="images/linea.png"/>
<div class="row">
  <div class="span16">
    <p>
      La creciente demanda de mano de obra calificada en aplicaciones críticas de soldadura en el país y/o fuera de
      éste, hace indispensable la existencia de una empresa capaz de reclutar y formar soldadores que cumplan con las
      normas y requerimientos de los estándares internacionales. </p>
  </div>
</div>

<div class="row">

  <div class="span12">
    <p>A diferencia de compañías existentes en el mercado que solo reclutan personal, Dexter Suasor recluta, capacita y
      certifica soldadores para diferentes partes del país y el extranjero acorde a las necesidades específicas y al
      perfil solicitado por cada empresa.</p>

    <p>Aseguramos mediante la capacitación integral, que los soldadores realizarán sus labores de manera segura y
      consistente. En este y todos nuestros servicios, nuestra prioridad es incrementar su productividad y con ello la
      rentabilidad de sus proyectos.</p>
  </div>
  <div class="span4">
    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/proyectos.jpg" width="210" height="160" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>
<br>
<br>

<h3 id="a2">Procesos de Soldadura y Aplicaciones específicas.<small> Solo para empresas</small></h3>
<img src="images/linea.png"/>
<br>
<div class="row">
  <div class="span16">
    <p>Proporcionamos entrenamiento teórico y práctico sobre los principales procesos de soldadura de arco eléctrico
      utilizados actualmente en la industria, como son:</p>
  </div>
</div>
<div class="row">


  <div class="span4">

    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/certsoldadores.jpg" width="210" height="165" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="span11">
    <br>

    <p><strong>SMAW</strong>Shielded Metal Arc Welding
      <small>(Electrodo Revestido)</small>
    </p>
    <p><strong>GMAW</strong>Gas Metal Arc Welding
      <small>(Proceso MIG o semiautomático)</small>
    </p>
    <p><strong>FCAW</strong> Flux Cored Arc Welding
      <small>(Alambre tubular con núcleo de fundente Autoprotegido y/o con Gas de proteción)</small>
    </p>
    <p><strong>MCAW</strong> Metal Cored Arc Welding
      <small>(Alambre tubular con polvo metápco)</small>
    </p>
    <p><strong>GTAW</strong> Gas Tungsten Arc Welding
      <small>(Proceso TIG)</small>
    </p>

  </div>
</div>


<div class="row">
  <div class="span16">
    <p> As&iacute; mismo contamos con cursos para aplicaciones específicas comúnmente demandadas en la industria
      nacional:</p>
  </div>

</div>
<div class="row">
  <div class="span4">

    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/c1.jpg" width="210" height="165" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="span11">
    <br>


    <p>&bull; Soldadura de Tubería Sanitaria</p>

    <p>&bull; Soldadura de Tubería de Vapor y de Proceso</p>

    <p>&bull; Soldadura de Estructuras metálicas</p>

    <p>&bull; Entre otros…</p>


  </div>


</div>
<div class="row">
  <div class="span16">
    <p>Dependiendo del tipo de curso, el entrenamiento teórico es impartido por uno de nuestros consultores mientras que
      la
      parte práctica por un técnico certificado como soldador en la técnica aplicable. Las sesiones de entrenamiento
      podrán llevarse a cabo en las instalaciones de nuestros clientes o en un centro de soldadura proporcionado por
      Dexter Suasor.</p>


  </div>
</div>
<br>
<br>

<h3 id="a3">Formación de Supervisores e Inspectores en Soldadura.</h3>
<img src="images/linea.png"/>


<div class="span16">


  <p>Dexter Suasor imparte cursos intensivos para la formación de Inspectores de soldadura acorde a las
    especificaciones emitidas por la AWS (American Welding Society) y a las exigencias actuales de la industria.</p>

  <p>El objetivo de estos entrenamientos consiste en proveer de los conocimientos y herramientas necesarias al
    Inspector para poder detectar, interpretar y evaluar correctamente cualquier discontinuidad de soldadura,
    comprender los procesos de soldadura para detectar y/o prevenir posibles defectos durante la cadena productiva,
    así como interpretar y vigilar el cumplimiento de los procedimientos de soldadura implementados en su
    compañía. </p>
  <br>

  <p>Para tales fines nuestra compañía ofrece una serie de cursos relacionados con la inspección de soldadura.</p>

</div>
<div class="row">
  <div class="span11">

    <p>&bull; Formación de Inspectores Internos en Soldadura acorde AWS.
      <strong><a href=""><i><font color="#00446a"> Leer m&aacute;s </font></i></a></strong></p>

    <p>&bull; Inspectores internos acorde ASME para tubería Sanitaria, de Vapor o Recipientes a presión</p>

    <p>&bull; Inspección Visual de la Soldadura y herramientas de medición</p>

    <p>&bull; Introducción a los Ensayos no destructivos (VT, PT, MT, UT y RT)</p>

    <p>&bull; Entre otros…</p>


  </div>
  <div class="span5">

    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/chiquis.jpg" width="270" height="180" alt="">
        </a>
      </li>
    </ul>
  </div>


</div>

<br>
<br>


<h3 id="a4">Clínicas de Código.</h3>
<img src="images/linea.png"/>

<div class="row">
  <div class="span16">
    <p>La creciente demanda de aplicaciones de soldadura de mayor calidad y resistencia obligan a realizar la mayoría
      de
      las actividades bajo los lineamientos de códigos y estándares internacionales. Por tal motivo Dexter Suasor
      ofrece
      una serie de cursos especializados en las secciones comúnmente utilizadas de los principales códigos de
      soldadura.</p>

  </div>
</div>

<div class="row">

  <div class="span12">

    <p><strong>AWS D1.1,</strong> Structural Welding Code for Carbon Steel
      <small>(Código de Soldadura Estructural en Acero al Carbono)</small>
    </p>
    <p><strong>AWS D1.4,</strong> Structural Welding Code Reinforcing Steel
      <small>(Código de fabricación para Varilla de Refuerzo – Bulbos-)</small>
    </p>
    <p><strong>AWS D1.5,</strong> Bridge Welding Code
      <small>(Código de Soldadura para Puente Vehiculares)</small>
    </p>
    <p><strong>ASME Sec. VIII Div. 1,</strong> Boiler and Pressure Vessel Code
      <small>(Fabricación de Calentadores y Recipientes a presión)</small>
    </p>
    <p><strong>ASME B31.1,</strong> Power Piping
      <small>(Tubería de Proceso)</small>
    </p>

    <p><strong>ASME B31.3,</strong> Process Piping
      <small>(Tubería de Proceso)</small>
    </p>

    <p><strong>ASME BPE,</strong> Bio Process Equipment
      <small>(Equipo de Bioprocesamiento)</small>
    </p>

    <p><strong>API 11.04,</strong> Welding of Pipelines and Related facilities
      <small>(Estándar para la soldadura de tubería e instalaciones
        relacionadas)
      </small>
    </p>

    <p>Entre otros… </p>


  </div>


  <div class="span4">
    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/awscod.jpg" width="200" height="220" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>
<br>
<br>

<h3 id="a5">Ensayos No Destructivos.</h3>
<img src="images/linea.png"/>


<div class="row">
  <div class="span16">
    <p>Los END (Ensayos no Destructivos) tienen un gran número de aplicaciones en la actualidad, ya que pueden ser
      utilizados desde el segmento médico hasta el aeroespacial. La principal ventaja del entrenamiento que imparte
      Dexter Suasor consiste en que todos los cursos de END están diseñados únicamente para la aplicación en uniones
      soldadas, dando como resultado un verdadero aprendizaje y dominio de la técnica para la evaluación e
      interpretación de discontinuidades relacionadas con la soldadura.</p>

    <p>Es por tal motivo que nuestra compañía ofrece la serie de cursos de END que se listan a continuación:</p>


  </div>

</div>
<div class="row">
  <div class="span5">
    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/ensayos.jpg" width="245" height="200" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="span12">
    <br>

    <p>&bull; Nivel I y II en Inspección Visual (VT) </p>

    <p>&bull; Nivel I y II en Líquidos Penetrantes (PT) </p>

    <p>&bull; Nivel I y II en Partículas Magnéticas (MT) </p>

    <p>&bull; Nivel I y II en Ultrasonido Industrial (UT) </p>

    <p>&bull; Interpretación de Imágenes Radiográficas (RT) </p>

  </div>


</div>
<br>
<br>

<h3 id="a6">Formaci&oacute;n de Vendedores T&eacute;cnicos.</h3>
<img src="images/linea.png"/>


<div class="row">

  <div class="span12">
    <p>La aparición de nuevos competidores y la llegada de nuevos productos con precios cada vez mas agresivos
      dificulta
      cada día mas el incremento o mantenimiento de las ventas de cualquier empresa y de los márgenes definidos por
      cada
      organización.</p>

    <p>Dexter Suasor ofrece un curso de entrenamiento técnico comercial en ventas, permitiendo desarrollar en los
      vendedores la habilidad para incrementar sus resultados debido a la preparación y conocimiento que adquieren
      durante el curso. Todo esto con el objetivo de convertirse en un verdadero asesor técnico de ventas con
      conocimiento detallado de
      sus productos y aplicaciones.</p>


  </div>

  <div class="span4">
    <ul class="media-grid">
      <li>
        <a href="#">

          <img class="thumbnail" src="images/curso2.jpg" width="240" height="185" alt="">
        </a>
      </li>
    </ul>
  </div>


</div>


<div class="row">
  <div class="span4">
    <a href="mailto:soporte@dextersuasor.com">
      <img class="thumbnail" src="images/nota2.png" width="240" height="185" alt="">
    </a>
    </a>
  </div>
  <div class="span12">
    <br>

    <p>A diferencia de otros cursos de ventas en los que solo se muestran los conceptos globales de las ventas pero
      que
      nunca se aterrizan a cada aplicación, Dexter Suasor se enfoca únicamente en la realización de cursos técnicos de
      ventas en el ramo de la soldadura y corte de metales, maximizando con esto los resultados de la capacitación.
    </p>

  </div>


</div>






