<br>
<div class="row">
  <div class="span16" id="b1">
    <h3>Elaboraci&oacute;n, Revisión y Certificaci&oacute;n de Procedimientos WPS.</h3>
    <img src="images/linea.png"/>

    <p><strong>Calificación de procedimientos:</strong> Los procedimientos de soldadura WPS (Welding Procedure
      Specification) describen a detalle las actividades que el soldador debe de realizar antes, durante y después de el
      proceso de soldar con el propósito de asegurar que el elemento soldado tendrá la capacidad de producir las
      propiedades requeridas para su aplicación planeada. Los procedimientos deben de cumplir ciertos requisitos para
      ser validados conforme al código o estándar aplicable.</p>

    <p>Un WPS estandariza y minimiza la probabilidad de falla en cualquier pieza soldada, incrementando con esto la
      calidad y consistencia de la producción, disminuyendo re-trabajos y obteniendo ahorros importantes para cualquier
      compañía.</p>


    <p>Para calificar un procedimiento es necesaria la preparación de una probeta de calificación en presencia de un
      Inspector de Soldadura, para posteriormente realizar las pruebas destructivas y no destructivas acorde el código
      aplicable. Dentro de este procedimiento se especifican todas las variables y datos técnicos requeridos para la
      correcta aplicación de soldadura.</p>


    <p>Certificación: Una vez realizada la calificación del procedimiento de acuerdo al código o estándar aplicable, se
      puede certificar el WPS. La certificación consiste en avalar la documentación y resultados ante un Inspector de
      Soldadura CWI (Certified Welding Inspector) certificado ante la AWS (American Welding Society). La certificación
      del WPS ante un CWI es sinónimo de confianza, debido a que comprueba que un especialista en el ramo con
      reconocimiento técnico-legal dio fe pública que el documento cumple con los requisitos del código aplicable para
      ser usado.</p>


    <p>Nuestra compañía puede apoyarlo en el desarrollo y certificación de cualquier procedimiento de soldadura
      requerido
      por su empresa, así mismo Dexter Suasor puede revisar, corregir y certificar sus procedimientos de soldadura
      existentes (aplican restricciones).</p>

    <p>
      Garantía de satisfacción
      Si nuestra compañía es contratada para la calificación y certificación de procedimientos de soldadura,
      garantizamos la aceptación del WPS por parte de su cliente, de lo contrario repetimos todo el proceso sin costo
      alguno hasta ser aceptado.
      <small>(aplican restricciones)</small>
    </p>


  </div>


</div>

<br>
<br>

<div class="row">
  <div class="span3">
    &nbsp;
  </div>
  <div class="span8">
    <p>       <h4><i>¿Quieres saber más sobre el procedimiento para calificar y certificar un WPS?</i></h4>

    <strong>Baja el siguiente archivo</strong></p>
  </div>
  <div class="span3">
    <img src="images/100.png" width="150" height="100"/>
  </div>

</div>

<div class="row">
  <div class="span12" id="b2">

    <h3>Calificaci&oacute;n y Certificaci&oacute;n de Soldadores WPQ.</h3>
    <img src="images/linea.png"/>

    <p><strong>
      Calificación del soldador:</strong> Una vez realizado el procedimiento de soldadura WPS, es necesario validar la
      habilidad
      de los soldadores para aplicarlo correctamente. La calificación de los soldadores consiste en la realización de
      una probeta acorde la aplicación, el proceso y el rango que se desee cubrir, durante dicha prueba se evalúan
      factores como habilidad de aplicación, seguimiento del WPS, y discontinuidades presentadas en su prueba.
      Posteriormente es enviada a pruebas destructivas o no destructivas para conocer la sanidad de la unión soldada.
    </p>

    <p>Certificación: Una vez realizada la calificación del soldador, se puede certificar el documento que lo abale
      WPQ
      (Welder Performance Qualification). La certificación es realizada por un Inspector de Soldadura CWI (Certified
      Welding Inspector) certificado ante la AWS (American Welding Society). La certificación del WPQ ante un CWI es
      sinónimo de confianza, debido a que un especialista con reconocimiento técnico-legal da fe pública que el
      soldador
      evaluado cumple con los requisitos del código o estándar aplicable.

    </p>

    <p>
      Dexter Suasor ofrece los servicios de calificación y certificación de soldadores, garantizando con esto que el
      soldador cuenta con las habilidades requeridas para producir uniones sanas bajo código siguiendo un
      procedimiento
      de soldadura. Disminuyendo con esto rechazos durante la obra y mejorando la calidad de la producción.</p>
  </div>
  <br>
  <br>

  <div class="span4">
    <br><br><br>
    <img src="images/soldadorpic.jpg" alt="" width="300" height="220">


  </div>
</div>
<div class="row">
  <div class="span12" id="b3">
    <br>
    <br>

    <h3>Certificaci&oacute;n de Inspectores Especialistas en Soldadura WIS.</h3>
    <img src="images/linea.png"/>

    <p>La certificación de Inspectores Especialistas en Soldadura WIS (Welding Inspector Specialist) es dada por un
      Inspector CWI de AWS en conjunto con la empresa en donde labore el interesado. Dicha certificación es obtenida
      después de aprobar sus exámenes de certificación así como de cumplir con la experiencia, capacitación, estudios
      y
      exámenes médicos requeridos por AWS.
    </p>

    <p>El WIS puede desempeñarse como inspector interno de soldadura en la empresa que lo certifique, realizando
      labores
      de inspección antes durante y después de la aplicación de soladura. Apoyando también al departamento de
      producción, ingeniería, mantenimiento y calidad para mejorar la aplicación de soldadura día con día.
    </p>
  </div>

  <div class="span4">
    <br><br><br> <br><br>

    <img src="images/wis.png" align="center" width="200" height="100">


  </div>
</div>


