<h1>Contáctanos</h1>
<hr>

<div class="row">
  <div class="span6">
    <form action="/popo" class="form-stacked">
      <div class="clearfix">

        <label for="nombre">Nombre</label>

        <div class="input">
          <input class="large" id="nombre" name="nombre" size="30" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="compania">Compañia</label>

        <div class="input">
          <input class="large" id="compañia" name="compañia" size="30" type="text"/>
        </div>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">E-mail</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="medium" id="mail" name="mail" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">Telefono</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">#</span>
            <input class="medium" id="telefono" name="telefono" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <div class="clearfix">
        <label for="stackedSelect">Estado</label>

        <div class="input">
          <select name="stackedSelect" id="stackedSelect">
            <option value="0"></option>

            <option value="1">Aguascalientes</option>

            <option value="2">Baja California</option>

            <option value="3">Baja California Sur</option>

            <option value="4">Campeche</option>

            <option value="5">Chiapas</option>

            <option value="6">Chihuahua</option>

            <option value="7">Coahuila</option>

            <option value="8">Colima</option>

            <option value="9">Distrito Federal</option>

            <option value="10">Durango</option>

            <option value="11">Guanajuato</option>

            <option value="12">Guerrero</option>

            <option value="13">Hidalgo</option>

            <option value="14">Jalisco</option>

            <option value="15">Estado de México</option>

            <option value="16">Michoacán

            <option value="17">Morelos</option>

            <option value="18">Nayarit</option>

            <option value="19">Nuevo León</option>

            <option value="20">Oaxaca</option>

            <option value="21">Puebla</option>

            <option value="22">Querétaro</option>

            <option value="23">Quintana Roo</option>

            <option value="24">San Luis Potosí</option>

            <option value="25">Sinaloa</option>

            <option value="26">Sonora</option>

            <option value="27">Tabasco</option>

            <option value="28">Tamaulipas</option>

            <option value="29">Tlaxcala</option>

            <option value="30">Veracruz</option>

            <option value="31">Yucatán</option>

            <option value="32">Zacatecas</option>


          </select>
        </div>
      </div>
      <!-- /clearfix -->


      <div class="clearfix">
        <label for="textarea">Pregunta</label>

        <div class="input">
          <textarea class="xxlarge" id="pregunta" name="pregunta" rows="3"></textarea>
                                    <span class="help-block"> Escribe tu comentario o pregunta
                                    </span>

        </div>
      </div>

      <!-- /clearfix -->
      <br/>


      &nbsp;
      <button class="btn success" type="submit">Enviar</button>
      &nbsp;
      <button class="btn danger" type="reset">Limpiar</button>

    </form>

  </div>


  <div class="span5">
    <h3>Dirección</h3>
    <address>
      <strong>Dexter Suasor</strong><br/>
      Ensenada 91<br/>
      Del. Cuauhtémoc<br/>
      México DF<br/>
      <abbr title="Phone">Tel:</abbr> +52 (55) 4329 9710 <br/>
      <abbr title="ID">ID:</abbr> 62*12*29030

    </address>
    <address>
      <strong>E-mail</strong><br/>
      <a href="mailto:soporte@dextersuasor.com">soporte@dextersuasor.com</a>

    </address>
    <img src="images/rojo3.jpg" width="130" height="140"/>


  </div>
  <div class="span5">

  </div>

</div>