<h1>Contáctanos</h1>
<hr>

<div class="row">
  <div class="span6">
    <form action="" class="form-stacked">
      <div class="clearfix">

        <label for="nombre">Nombre</label>

        <div class="input">
          <input class="large" id="nombre" name="nombre" size="30" type="text"/>
        </div>
        <span class="help-block">Campo Obligatorio</span>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="compania">Compañia</label>

        <div class="input">
          <input class="large" id="compañia" name="compañia" size="30" type="text"/>
        </div>

      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">E-mail</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="medium" id="mail" name="mail" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <!-- /clearfix -->
      <div class="clearfix">
        <label for="prependedInput">Telefono</label>

        <div class="input">
          <div class="input-prepend">
            <span class="add-on">#</span>
            <input class="medium" id="telefono" name="telefono" size="20" type="text"/>
          </div>
          <span class="help-block">Campo Obligatorio</span>
        </div>
      </div>
      <div class="clearfix">
        <label for="stackedSelect">Estado</label>

        <div class="input">
          <select name="stackedSelect" id="stackedSelect">
            <option value="0"></option>
            <option value="1">Aguscalientes</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <!-- /clearfix -->


      <div class="clearfix">
        <label for="textarea">Pregunta</label>

        <div class="input">
          <textarea class="xxlarge" id="pregunta" name="pregunta" rows="3"></textarea>
                                    <span class="help-block"> Escribe tu comentario o pregunta
                                    </span>

        </div>
      </div>

      <!-- /clearfix -->
      <br/>


      &nbsp;
      <button class="btn success">Enviar</button>
      &nbsp;
      <button class="btn danger">Limpiar</button>

    </form>

  </div>


  <div class="span5">
    <h3>Dirección</h3>
    <address>
      <strong>Dexter Suasor</strong><br/>
      Ensenada 91<br/>
      Del. Cuauhtémoc<br/>
      México DF<br/>
      <abbr title="Phone">Tel:</abbr> +52 (55) 4329 9710 <br/>
      <abbr title="ID">ID:</abbr> 62*12*29030

    </address>
    <address>
      <strong>E-mail</strong><br/>
      <a href="mailto:soporte@dextersuasor.com">soporte@dextersuasor.com</a>

    </address>
    <img src="images/rojo3.jpg" width="130" height="140"/>


  </div>
  <div class="span5">

  </div>

</div>