<br>

<h3>Lista completa de cursos.</h3>
<img src="images/linea.png"/>

<div class="row">
  <br>

  <div class="span1">
    &nbsp;
  </div>
  <div class="span8">
    <p><strong><u>Generales de Soldadura</u></strong></p>

    <p>Simbología de la soldadura</p>

    <p>Cálculo de Costos en los procesos de soldar</p>

    <p>Seguridad en la soldadura y corte de metales acorde a AWS</p>

    <p>Gases y Mezclas de protección </p>

    <p>Selección de Metales base y Metales de Aporte para soldar</p>

    <p>Máquinas de Soldar manuales y semiautomáticas </p>

    <p>Metalurgía de la Soldadura en los Aceros al Carbono </p>

    <p>Metalurgía de la Soldadura en los Aceros Inoxidables </p>

    <p>Metalurgía de la Soldadura en los Aceros Cromo-Molibdeno </p>

  </div>
  <div class="span8">
    <p><strong><u>Inspección de Soldadura</u></strong></p>

    <p>Formaci&oacute;n de Inspectores Internos en Soldadura acorde AWS.<br>
      <strong><a href=""><i><font color="#00446a"> Leer m&aacute;s </font></i></a></strong>
    </p>

    <p>Inspectores internos acorde ASME para tubería Sanitaria, de Vapor o Recipientes a presión</p>

    <p>Inspecci&oacute;n Visual de la Soldadura y herramientas de medici&oacute;n </p>

    <p>Introducci&oacute;n a los Ensayos no destructivos (VT, PT, MT, UT y RT) </p>

    <p>Nivel I y II en Inspecci&oacute;n Visual (VT) </p>

    <p>Nivel I y II en L&iacute;quidos Penetrantes (PT) </p>

    <p>Nivel I y II en Partículas Magn&eacute;ticas (MT) </p>

    <p>Nivel I y II en Ultrasonido Industrial (UT) </p>

    <p>Interpretaci&oacute;n de Imágenes Radiogr&aacute;ficas (RT) </p>

  </div>

</div>
<br><br>
<div class="row">
  <div class="span1">
    &nbsp;
  </div>
  <div class="span8">
    <p><strong><u>Aplicaciones y Procesos de Soldadura
    </u></strong></p>

    <p>Soldadura de Tubería Sanitaria </p>

    <p>Soldadura Orbital de Tubería Sanitaria </p>

    <p>Soldadura de Tubería de Vapor y de Proceso </p>

    <p>Soldadura de Estructuras metálicas </p>

    <p>SMAW Shielded Metal Arc Welding (Electrodo Revestido) </p>

    <p>GMAW Gas Metal Arc Welding (Proceso MIG o semiautomático) </p>

    <p>FCAW Flux Cored Arc Welding (Alambre tubular con núcleo de fundente Autoprotegido y/o con Gas de proteción)</p>

    <p>MCAW Metal Cored Arc Welding (Alambre tubular con polvo metálico) </p>

    <p>GTAW Gas Tungsten Arc Welding (Proceso TIG) </p>


  </div>

  <div class="span8">
    <p><strong><u>Clínicas de Código</u></strong></p>


    <p> AWS D1.1, Structural Welding Code for Carbon Steel (Código de Soldadura Estructural en Acero al Carbono) </p>

    <p> AWS D1.4, Structural Welding Code Reinforcing Steel (Código de fabricación para Varilla de Refuerzo –
      Bulbos-)</p>

    <p>AWS D1.5, Bridge Welding Code (Código de Soldadura para Puente Vehiculares) </p>

    <p>ASME Sec. VIII Div. 1, Boiler and Pressure Vessel Code (Fabricación de Calentadores y Recipientes a
      presión) </p>

    <p>ASME B31.1, Power Piping (Tubería de Proceso) </p>

    <p>ASME B31.3, Process Piping (Tubería de Proceso) </p>

    <p>ASME BPE, Bio Process Equipment (Equipo de Bioprocesamiento) </p>

    <p>API 11.04, Welding of Pipelines and Related facilities (Estándar para la soldadura de tubería e instalaciones
      relacionadas) </p>


  </div>

</div>
