<title>Nuestras Certificaciones | Dexter Suasor</title>


<h1>Nuestras Certificaciones
</h1>

<div class="row">
  <div class="span16">
    <p>La base de nuestra competitividad es el capital humano. Mantenemos a nuestros especialistas en continua
      formación y proporcionamos a nuestros clientes confianza a través del respaldo de las certificaciones nacionales
      e internacionales que poseemos.</p>
  </div>
</div>
<hr>


<div class="row">
  <div class="span2">

    <a href="http://www.aws.org">
      <br>
      <img class="thumbnail" src="images/aws.gif" width="75" height="75" alt="">
    </a>


  </div>
  <div class="span14">

    <h3>CWI (Certified Welding Inspector) por AWS (American Welding Society).</h3>

    <p>
      El Inspector CWI-AWS es el único autorizado y reconocido por la AWS para certificar soldadores y
      procedimientos
      con validez internacional, así como para ser el Inspector de soldadura responsable (QA/QC) durante cualquier
      proyecto de soldadura, coordinando a los Inspectores especialistas en soldadura WIS y a los Inspectores de
      Ensayos No Destructivos (Niveles I y II) en la técnica aplicable. La certificación del CWI es de carácter
      internacional y nuestra compañía cuenta con 2 Inspectores certificados. </p>
  </div>


</div>
<br>


<div class="row">
  <div class="span2">

    <a href="http://www.cime.org.mx">
      <img class="thumbnail" src="images/cime.jpg" width="75" height="62" alt="">
    </a>


  </div>
  <div class="span14">

    <h3>Perito Nacional en Soldadura por el CIME (Colegio de Ingenieros Mecánicos).</h3>


    <p>Conciente de la necesidad que existe en la industria metal mecánica Mexicana, el CIME ha formado un comité
      de
      Peritos en Soldadura, acreditando a 3 Inspectores de nuestra empresa con esta certificación y con validez
      nacional
      para todos los proyectos en donde el Colegio participe.</p>
  </div>


</div>
<br>


<div class="row">
  <div class="span2">
    <br>

    <a href="#">

      <img class="thumbnail" src="images/wis.jpg" width="60" height="35" alt="">
    </a>


  </div>
  <div class="span14">

    <h3>Inspectores Especialistas en Soldadura WIS (Welding Inspector Specialist).</h3>


    <p>Nuestra compañía cuenta con Inspectores especialistas certificados acorde a la especificación B5.1 de AWS,
      enfocados en supervisar proyectos de soldadura durante su fabricación.</p>
  </div>


</div>
<br>


<div class="row">

  <div class="span2">

    <a href="http://www.asnt.org">
      <br>
      <img class="thumbnail" src="images/asnt.jpg" width="75" height="60" alt="">
    </a>
  </div>

  <div class="span14">

    <h3>Inspectores en END (Ensayos No Destructivos) Nivel - II (VT, MT, PT y UT).</h3>


    <p>Contamos con Inspectores en END Nivel II acorde ASNT-TC-1A en las principales técnicas requeridas en la
      industria
      (VT Inspección Visual, PT Líquidos Penetrantes, MT Partículas Magnéticas, UT Ultrasonido) garantizando con esto
      la
      sanidad de las uniones inspeccionadas por nuestro personal.</p>
  </div>


</div>
<br>


<div class="row">
  <div class="span2">

    <a href="#">
      <br>
      <img class="thumbnail" src="images/six.jpg" width="80" height="80" alt="">
    </a>


  </div>
  <div class="span14">

    <h3>Ingenieros Black Belt y Green Belt.</h3>


    <p>La necesidad de mejorar los procesos de soldadura, reduciendo variabilidad y eliminando desperdicios hace
      imperativo contar con consultores entrenados como Black Belt o Green Belt en Lean-Six Sigma para asesorar a
      nuestros clientes en la reducción de costos y aumento de productividad.</p>
  </div>


</div>
<br>


<div class="row">
  <div class="span2">

    <a href="#">
      <br>
      <img class="thumbnail" src="images/mascara.png" width="75" height="85" alt="">
    </a>
  </div>
  <div class="span14">

    <h3>Soldadores Certificados</h3>


    <p>La manera mas eficiente de mejorar la aplicación de los soldadores consiste en mostrarles de manera presencial,
      las mejores técnicas de soldadura acorde a cada proceso y aplicación, es por eso que Dexter Suasor cuenta con
      soldadores certificados que de la mano con nuestros consultores, imparten los entrenamientos teórico prácticos
      que
      demandan nuestros clientes, garantizando de esta manera un correcto aprendizaje y por tanto un incremento en la
      calidad de las uniones soldadas.</p>

  </div>


</div>
