<div id="banner">
  <div class="slideshow">
    <div class="slideshow2">
      <div class="lftbanner">


        <a href="#">Ver Sitio</a></div>
      <div class="rhtbanner"><img src="images/banner.jpg" width="1050" height="300" alt=""/></div>

    </div>

    <div class="slideshow2">
      <div class="lftbanner">
        <h2></br>Participa y Gana </h2>

        <p>Si eres uno de los 100 primeros subscriptores, tendras la posibilidad de entrar a una rifa y ganar al
          instante una nueva IPAD 2 </p>

        <a href="">Inscribite Ya!</a></div>
      <div class="rhtbanner"><img src="images/img1.png" alt=""/></div>
    </div>
    <div class="slideshow2">
      <div class="lftbanner">
        <h2>Noticias y Eventos </h2>

        <p> * 19 noviembre 2011 se realizara la premiacíon del IPAD 2. </p>


        <p> * 21 noviembre 2011 se recibirán examenes de la materia Base de Datos. </p>

        <p> * 25 noviembre 2011 se publicaran examenes de la materia Ciencia y Tecnologia. </p>

        <p> * 29 noviembre 2011 se publicara presentaciones de la materia Fundamentos de Diseño. </p>


        <a href="calendario.html">Ir al Calendario!</a></div>
      <div class="rhtbanner"><img src="images/news.jpg" alt=""/></div>
    </div>

  </div>
</div>
<br>
<div class="row">


  <div class="span16">
    <p><strong>Dexter Suasor</strong> es una compañía dedicada a la Supervisión, Certificación, Inspección, Optimización
      y Capacitación
      de empresas, inspectores y soldadores de la industria Metal-Mecánica. Ponemos a su servicio un grupo de
      experimentados consultores certificados, enfocados en incrementar su productividad, mejorar su calidad y apoyarlo
      en el cumplimiento de la normativa de soldadura nacional e internacional aplicable.</p>
    </div>
  </div>