 <ul class="media-grid">
    <li>
      <a href="#">
        <img class="thumbnail" src="images/banner.jpg" width="1050" height="300"/>

      </a>
    </li>
  </ul>


  <div class="row">


    <div class="span16">
      <p><strong>Dexter Suasor </strong>es una compañía dedicada a la Certificación, Inspección, Optimización y
        Capacitación de empresas, supervisores y soldadores de la industria Metal-Mecánica. Ponemos a su servicio un
        grupo de experimentados consultores certificados, enfocados en incrementar su productividad, mejorar su
        calidad y apoyarlo en el cumplimiento de la normativa de soldadura nacional e internacional aplicable.</p>
    </div>
  </div>