<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= @titulo %> </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <!-- Le styles -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="js/bootstrap-alerts.js"></script>

  <style>


    body {
      padding-top: 45px;
    }
  </style>






</head>

<body>
<div class="topbar-wrapper">
  <div id="drop" class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/inicio">DXRS</a></h3>
        <ul>
          <ul class="nav secondary-nav">
            <li class="menu">
              <a href="#" class="menu">Servicios</a>
              <ul class="menu-dropdown">
                <li><a href="#">Capacitación</a></li>
                <li class="divider"></li>


                <li><a href="#">Certificacion</a></li>
                <li class="divider"></li>
                <li><a href="#">Consultoría</a></li>
                <li class="divider"></li>
                <li><a href="#">Inspección</a></li>
                <li class="divider"></li>

                <li><a href="#">Implementación ISO/ASME</a></li>
                <li class="divider"></li>
                <li><a href="#">Reducción de Costos</a></li>
                <li class="divider"></li>

                <li><a href="#">Supervisión de Proyectos</a></li>
                <li class="divider"></li>
                <li><a href="#">Validación de Empresas</a></li>
                <li class="divider"></li>


              </ul>


            <li><a href="/empresa">Nuestras Certificaciones</a></li>
            <li><a href="#">Proyectos Destacados</a></li>

            <ul class="nav secondary-nav">
              <li class="menu">
                <a href="#" class="menu">Validación de documentos</a>
                <ul class="menu-dropdown">
                  <li><a href="/wis">WIS</a></li>
                  <li class="divider"></li>


                  <li><a href="/wps">WPS</a></li>
                  <li class="divider"></li>
                  <li><a href="/pqr">PQR</a></li>
                  <li class="divider"></li>
                  <li><a href="/wpq">WPQ</a></li>
                  <li class="divider"></li>
                </ul>
            </ul>


            <li><a href="/valores">Nuestra Empresa</a></li>

            <li><a href="/contacto">Contacto</a></li>


          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container well">


  <%= yield %>


  </br>

</div>

<div class="container well">

  <!-- Example row of columns -->
  <div class="row">


    <div class="span4">
      <h4>Capacitación</h4>
      <ul>
        <li>Formación de Soldadores para proyectos especiales</li>
        <li> Procesos de Soldar por arco eléctrico (Teórico / Práctico)</li>
        <li> Formación de Supervisores e Inspectores en Soldadura</li>
        <li>Clínicas de manejo de códigos (AWS, ASME, API)</li>
        <li>Calculo de costos de soldadura</li>
        <li>Formación de vendedores técnicos</li>
        <li>Cursos personalizados</li>


      </ul>
    </div>
    <div class="span4">
      <h4><a href="/certificaciones">Certificación</a></h4>
      <ul>
        <li><a href="/certificaciones#b1">Elaboraci&oacute;n, Revisión y Certificaci&oacute;n de Procedimientos WPS</a>
        </li>
        <li><a href="/certificaciones#b2">Calificaci&oacute;n y Certificaci&oacute;n de Soldadores WPQ</a></li>
        <li><a href="/certificaciones#b2">Certificaci&oacute;n de Inspectores Especialistas en Soldadura WIS</a></li>
      </ul>

    </div>
    <div class="span4">
      <h4>Inspección</h4>
      <ul>
        <li>Visual (VT)</li>
        <li>Líquidos Penetrantes (PT)</li>
        <li>Partículas Magnéticas (MT)</li>
        <li>Ultrasonido Industrial (UT)</li>
      </ul>

    </div>
    <div class="span4">
      <h4> Implementación ISO/ASME </h4>
      <ul>
        <li>Implementación de Sistemas de Gestión de Calidad acorde ISO-9001 para empresas con procesos de soldar</li>
        <li>Implementación de Sistemas de Gestión de Calidad acorde ASME
        </li>

      </ul>

    </div>
  </div>


  <div class="row">

    <div class="span4">
      <h4>Reducción de Costos </h4>
      <ul>
        <li>Reducción de costos mediante optimización y estandarización de procesos
        </li>


      </ul>
    </div>
    <div class="span4">
      <h4>Validación de Empresas</h4>
      <ul>
        <li>Validación de empresas acorde código aplicable previo inicio de trabajos</li>


      </ul>

    </div>
    <div class="span4">
      <h4> Supervisión de Proyectos </h4>
      <ul>
        <li>Supervisión de soldadura y liberación de trabajos en proyectos de construcción
        </li>
      </ul>

    </div>
    <div class="span4">
      <h4>Consultoría </h4>
      <ul>
        <li>Evaluación general de plantas</li>
        <li>Implementación y cambio de procesos</li>
        <li> Nuevas tecnologías</li>


      </ul>
    </div>
  </div>
</div>


<footer>
  <p>&copy; Dexter Suasor 2011</p>
</footer>


<script type="text/javascript" src="js/dropdown.js"></script>

<script>
  $(document).ready(function() {
    $('#drop').dropdown();

  });
</script>


</body>
</html>




