<br>
<h3 id="x1">Nuestro Nombre.</h3>
<img src="images/linea.png" width="400px" height="10px"/>



<div class="row" >

  <div class="span3">
    <img src="images/dxsr.jpg" width="120" height="110"/>
  </div>

  <div class="span13">


    <p>Del Latín "Dexter": Hábil / Honesto y "Suasor": Consultor. Nos concentramos únicamente en la prestación de
      servicios, proporcionando soluciones objetivas e imparciales, convirtiéndonos en un verdadero asesor en el área de
      soldadura para su empresa.</p>
  </div>

</div>
<br>
<h3 id="x2">Misi&oacute;n.</h3>
<img src="images/linea.png" />

<div class="row">

  <div class="span3">
     
    <img src="images/mision.png" width="140" height="180"/>
  </div>


  <div class="span13">

    <p>Apoyar a las empresas que deseen mejorar y cumplir con la normativa y los estándares nacionales e
      internacionales en el área de soldadura por arco eléctrico
      , mejorando su eficiencia, productividad y calidad de manera consistente y a lo largo del tiempo, ofreciendo
      soluciones integrales, únicas y competitivas que permitan establecer relaciones “ganar-ganar” a largo plazo con
      nuestros clientes y proveedores, de una manera ética y profesional. Contribuyendo además a mejorar la
      competitividad y el rezago existente de nuestro país en el área de soldadura.
    </p>

  </div>

</div>

<br>
<h3 id="x3">Visi&oacute;n.</h3>
<img src="images/linea.png" />


<div class="row">

  <div class="span3">
    <img src="images/vision.png" width="140" height="180"/>
  </div>

  <div class="span13">

    <p>Ser la compañía líder en servicios de supervisión y certificación de soldadura en el país, reconocida así por
      nuestros clientes, proveedores y competidores, así como por las instituciones gubernamentales relacionadas con
      la
      soldadura por arco eléctrico en México.</p>

  </div>

</div>
<br>
<h3 id ="x4">Valores.</h3>
<img src="images/linea.png"/>
<div class="row">

  <div class="span3">
    <img src="images/valores.gif" width="150" height="110"/>
  </div>

  <div class="span13">
    <p>&diams; Enfoque al cliente</p>

    <p>&diams; Honestidad y ética en todo momento</p>

    <p>&diams; Búsqueda por superar expectativas durante cada proyecto</p>

    <p>&diams; Capacitación y Certificación continua de nuestra gente</p>

    <p>&diams; Pasión por lo que hacemos</p>
  </div>

</div>



