<br>


<div class="row">
  <div class="span16">
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procedure Qualification Record PQR
      <small>Emitidos por DXSR</small>
    </h3>

    <form action="/validapqr" class="form-stacked">

      <div class="clearfix">
        <div class="input">
          <input class="medium" name="id" size="30" type="text"/>
          <button class="btn success" type="submit">Validar</button>
          <span class="help-block">ID de Entrada </span>
        </div>

      </div>
    </form>
    <table class="bordered-table zebra-striped">

      <thead>
      <tr>
        <th>ID de Entrada</th>

        <th>Nombre PQR</th>
        <th>Empresa</th>
        <th>Fecha</th>
        <th>C&oacute;digo</th>
        <th>Proceso</th>
        <th>Posición</th>
        <th>#F</th>
        <th>Weld Metal</th>
        <th>#M &oacute; #P</th>
        <th>Grupo</th>
        <th>Diámetro</th>
        <th>Elaborado</th>
        <th>Acreditado</th>
        <th>Certificado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% if @renglon %>
          <% @renglon.each do |k, v| %>
            <td>
              <%= v %></td>
            <!--con este simbolo imprime -->
          <% end %>
        <% end %>

        <% if @comienzo and not @renglon %>

          <div id="alerta" class="alert-message error" data-alert="alert">
            <a class="close" href="#">&times;</a>

            <p>Tu ID es incorrecta.</p>
          </div>

        <% end %>


      </tr>
      </tbody>
    </table>


  </div>
  <div class="span2">

  </div>
</div>