
<h1> Nuestra Empresa </h1>

<hr>
<div class="row">
  <div class="span13">
    <p><strong>Dexter Suasor</strong> es una compañía formada por consultores especializados en el área de <strong>soldadura
      y corte de metales</strong> de la Industria Metalmecánica.</p>

    <p>Nuestros especialistas proveen consultoría de alto valor a la industria por medio de nuestros servicios
      de<strong> optimización de procesos, entrenamiento y certificación de soldadores, supervisores e ingenieros de
        proceso entre</strong> otros.</p>

    <p>Ya sea a una pequeña empresa nueva en el sector o un gran fabricante consolidado, nuestra gente le brindará los
      beneficios de producir de manera <strong>controlada, productiva</strong> y con los más <strong>altos estándares
        de calidad</strong>.</p>


  </div>


  <div class="span3">
    <img src="images/dxsr.jpg" width="105" height="100"/>


  </div>


</div>


<br>

<h2>Nuestro Nombre</h2>
<hr>


<div class="row">
  <div class="span16">
    <p>Del Latín <strong>"Dexter": Hábil / Honesto </strong>y <strong>"Suasor": Consultor.</strong> Nuestra compañía
      esta formada por hábiles consultores honestos enfocados en proveer soluciones confiables a la industria del
      corte y soldadura de metales.</p>


  </div>
</div>
<br>

<h2>Misión</h2>
<hr>


<div class="row">
  <div class="span16">


    <p> Brindar apoyo a nuestros clientes de la industria metalmecánica en sus procesos de soldar, haciéndolos más
      eficientes y productivos, mediante la experiencia y conocimiento de nuestra gente, buscando una relación
      comercial a largo plazo, justa y rentable para ambas partes.
      Formar y capacitar soldadores, supervisores e Ingenieros en el ramo, para mejorar su desempeño en la empresa
      donde laboren acorde a los estándares establecidos por la misma y por la AWS</p>

  </div>
</div>
<br>

<h2>Visión</h2>
<hr>


<div class="row">
  <div class="span11">


    <p> Ser la compañía de consultoría y capacitación en soldadura de mayor reconocimiento y prestigio en el país.</p>

  </div>
</div>
<br>

<h2>Valores</h2>
<hr>


<div class="row">
  <div class="span11">


    <p> * Enfoque al cliente<br>
      * Honestidad y ética en todo momento<br>
      * Superar las expectativas en todo momento<br>
      * Capacitación continua y constante superación de nuestra gente<br>
      * Pasión por lo que hacemos</p>

  </div>
</div>

