<br>


<div class="row">
  <div class="span17">
    <p><strong>Dexter Suasor</strong> es una compañía dedicada a la Supervisión, Certificación, Inspección, Optimización
      y Capacitación
      de empresas, supervisores y soldadores de la industria Metal-Mecánica. Ponemos a su servicio un grupo de
      experimentados consultores certificados, enfocados en incrementar su productividad, mejorar su calidad y apoyarlo
      en el cumplimiento de la normativa de soldadura nacional e internacional aplicable.</p>
     
    <p>Ya sea una nueva empresa en el sector o un gran fabricante consolidado, nuestra gente le brindará la asesoría
      requerida de una manera profesional, ética y eficiente para cumplir con los requerimientos exigidos en su
      industria.</p>
  </div>


</div>
<br>
<br>

<div class="row">
  <div class="span6">
    <h3>Nuestro Nombre.</h3>
    <img src="images/linea.png" width="465px" height="10px"/>

    <p>
      Del Latín "Dexter": Hábil / Honesto y "Suasor": Consultor. Nos concentramos únicamente en la prestación de
      servicios.</p>
    <a href="/mision#x1"><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>
  </div>
  <div class="span2">
    <br>
    <br>
    <br>
    <img src="images/logo.jpg" width="110" height="62"/>
  </div>
  <div class="span1">
    &nbsp;
  </div>
  <div class="span6">
    <h3>Misi&oacute;n.</h3>
    <img src="images/linea.png" width="470px" height="10px"/>

    <p>Apoyar a las empresas que deseen mejorar y cumplir con la normativa y los estándares nacionales e
      internacionales en el área de soldadura.</p>
    <a href="/mision#x2"><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>
  </div>
  <div class="span2">
    <br>
    <br>
    <br>
    <img src="images/mision.png" width="70" height="90"/>
  </div>
</div>
<br>
<br>
<br>

<div class="row">

  <div class="span6">
    <h3>Visi&oacute;n.</h3>
    <img src="images/linea.png" width="450px" height="10px"/>

    <p>Ser la compañía líder en servicios de supervisión y certificación de soldadura en el país, reconocida así por
      nuestros clientes.</p>
    <a href="/mision#x3"><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>
  </div>

  <div class="span2">
    <br>
    <br>
    <br>
    <img src="images/vision.png" width="80" height="95"/>
  </div>
  <div class="span1">
    &nbsp;
  </div>


  <div class="span5">
    <h3>Valores.</h3>
    <img src="images/linea.png" width="470px" height="10px"/>

    <p>
      &diams; Enfoque al cliente.</p>

    <p>&diams; Honestidad y ética en todo momento</p>
    <a href="/mision#x4"><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>

  </div>
  <div class="span3">
    <br>
    <br>
    <br>
    <img src="images/valores.gif" width="130" height="100"/>
  </div>

</div>
<br>
<br>
<br>

<div class="row">

  <div class="span6">
    <h3>Proyectos Destacados 2011</h3>
    <img src="images/linea.png" width="450px" height="10px"/>

    <p>Si deseas conocer los proyectos mas destacados en donde nuestra compañía ha participado, te invitamos a visitar
      esta página.
    </p>
    <a href=""><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>
  </div>

  <div class="span2">
    <br>
    <br>
    <br>
    <img src="images/nestle.png" width="80" height="70"/>
  </div>
  <div class="span1">
    &nbsp;
  </div>


  <div class="span4">
    <h3>Nuestros Clientes</h3>
    <img src="images/linea.png" width="470px" height="10px"/>

    <p>En Dexter Suasor consideramos a nuestros clientes como el activo mas valioso de la compañía.</p>
    <a href=""><strong><font color="#00446a"> Leer m&aacute;s >></font></strong></a>

  </div>
  <div class="span1">
    <br>
    <br>
    <br>
    <img src="images/aero.png"/>
  </div>

</div>
