<br>
<div class="row">
  <div class="span16">
    <p><strong>Dexter Suasor</strong> es una compañía dedicada a la Supervisión, Certificación, Inspección, Optimización
      y Capacitación
      de empresas, supervisores y soldadores de la industria Metal-Mecánica. Ponemos a su servicio un grupo de
      experimentados consultores certificados, enfocados en incrementar su productividad, mejorar su calidad y apoyarlo
      en el cumplimiento de la normativa de soldadura nacional e internacional aplicable.</p>
     
    <p>Ya sea una nueva empresa en el sector o un gran fabricante consolidado, nuestra gente le brindará la asesoría
      requerida de una manera profesional, ética y eficiente para cumplir con los requerimientos exigidos en su
      industria.</p>
  </div>


</div>
<br>
<br>
<h3>Nuestro Nombre.</h3>
<img src="images/linea.png"/>


<div class="row">

  <div class="span3">

    <ul class="media-grid">
      <li>
        <a href="#">
          <img src="images/dxsr.jpg" width="120" height="110"/>
        </a>
      </li>
    </ul>


  </div>

  <div class="span13">


    <p>Nuestro Nombre 
      Del Latín "Dexter": Hábil / Honesto y "Suasor": Consultor. Nos concentramos únicamente en la prestación de
      servicios, proporcionando soluciones objetivas e imparciales, convirtiéndonos en un verdadero asesor en el área de
      soldadura para su empresa.</p>
  </div>

</div>
<br>
<h3>Misi&oacute;n.</h3>
<img src="images/linea.png"/>

<div class="row">

  <div class="span3">

    <ul class="media-grid">
      <li>
        <a href="#">
          <img src="images/mision.png" width="140" height="180"/>
        </a>
      </li>
    </ul>
  </div>



  <div class="span13">

    <p>Apoyar a las empresas que deseen mejorar y cumplir con la normativa y los estándares nacionales e
      internacionales en el área de soldadura por arco eléctrico
      , mejorando su eficiencia, productividad y calidad de manera consistente y a lo largo del tiempo, ofreciendo
      soluciones integrales, únicas y competitivas que permitan establecer relaciones “ganar-ganar” a largo plazo con
      nuestros clientes y proveedores, de una manera ética y profesional. Contribuyendo además a mejorar la
      competitividad y el rezago existente de nuestro país en el área de soldadura.
    </p>

  </div>

</div>

<br>
<h3>Visi&oacute;n.</h3>
<img src="images/linea.png"/>


<div class="row">

  <div class="span3">

    <ul class="media-grid">
      <li>
        <a href="#">
          <img src="images/vision.png" width="140" height="180"/>
        </a>
      </li>
    </ul>
  </div>

  <div class="span13">

    <p>Ser la compañía líder en servicios de supervisión y certificación de soldadura en el país, reconocida así por
      nuestros clientes, proveedores y competidores, así como por las instituciones gubernamentales relacionadas con
      la
      soldadura por arco eléctrico en México.</p>

  </div>

</div>
<br>
<h3>Valores.</h3>
<img src="images/linea.png"/>
<div class="row">

  <div class="span4">

    <ul class="media-grid">
      <li>
        <a href="#">
          <img src="images/valores.png" width="200" height="150"/>
        </a>
      </li>
    </ul>

  </div>

  <div class="span10">
    <ul>

      <li>Enfoque al cliente</li>
      <li>Honestidad y ética en todo momento</li>
      <li>Búsqueda por superar expectativas durante cada proyecto</li>
      <li>Capacitación y Certificación continua de nuestra gente</li>
      <li> Pasión por lo que hacemos</li>
    </ul>

  </div>

</div>



