<h2> Nuestra Empresa </h2>

<hr>
<div class="row">
  <div class="span10">
    <p><strong>Dexter Suasor</strong> es una compañía formada por consultores especializados en el área de <strong>soldadura
      y corte de metales</strong> de la Industria Metalmecánica.</p>

    <p>Nuestros especialistas proveen consultoría de alto valor a la industria por medio de nuestros servicios
      de<strong> optimización de procesos, entrenamiento y certificación de soldadores, supervisores e ingenieros de
      proceso entre</strong> otros.</p>

    <p>Ya sea a una pequeña empresa nueva en el sector o un gran fabricante consolidado, nuestra gente le brindará los
      beneficios de producir de manera <strong>controlada, productiva</strong> y con los más <strong>altos estándares
      de calidad</strong>.</p>
  </div>
  <div class="span6">
    <div class="well thumbnail listbox">
      <img src="images/saludo.jpg" width="300" height="205"/>
    </div>
  </div>
</div>

<hr>
<h3>Nuestro Nombre</h3>


<div class="row">
  <div class="span10">
    <p>Del Latín <strong>"Dexter": Hábil / Honesto </strong>y <strong>"Suasor": Consultor.</strong> Nuestra compañía
      esta formada por hábiles consultores honestos enfocados en proveer soluciones confiables <br>a la industria del
      corte y soldadura de metales.</p>
    <br>

    <h3>Valores</h3>


    <ul>
      <li>Enfoque al cliente</li>
      <li>Honestidad y ética en todo momento</li>
      <li>Superar las expectativas en todo momento</li>
      <li>Capacitación continua y constante superación de nuestra gente</li>
      <li> Pasión por lo que hacemos</li>
    </ul>


  </div>

  <div class="span6">

    <ul class="media-grid">
      <li>
        <a href="#">
          <img src="images/dxsr.jpg" width="250" height="240"/>
        </a>
      </li>
    </ul>


  </div>
</div>

<hr>

<div class="row">
  <div class="span11">
    <h3>Misión</h3>
    <br>

    <p> Brindar apoyo a nuestros clientes de la industria metalmecánica en sus procesos de soldar, haciéndolos más
      eficientes y productivos, mediante la experiencia y conocimiento de nuestra gente, buscando una relación
      comercial a largo plazo, justa y rentable para ambas partes.
      Formar y capacitar soldadores, supervisores e Ingenieros en el ramo, para mejorar su desempeño en la empresa
      donde laboren acorde a los estándares establecidos por la misma y por la AWS</p>

  </div>
</div>
<hr>
<div class="row">

  <div class="span16">
    <h3>Visión</h3>
    <br>


    <p> Ser la compañía de consultoría y capacitación en soldadura de mayor reconocimiento y prestigio en el país.</p>

  </div>
</div>




