
<br>

<div class="row">
  <div class="span16">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inspectores WIS  <small>Emitidos por DXSR</small>
</h3>

    <form action="/validawis" class="form-stacked">

      <div class="clearfix">
        <div class="input">
          <input class="small" name="id" size="30" type="text"/>
          <button class="btn success" type="submit">Validar</button>
          <span class="help-block">ID de Entrada </span>
        </div>

      </div>
    </form>

    <table class="bordered-table zebra-striped">
      <thead>
      <tr>
        <th>ID de Entrada</th>
        <th>Nombre Inspector</th>
        <th>Empresa</th>
        <th>Fecha</th>
        <th>Emisi&oacute;n</th>
        <th>Vigencia</th>
        <th>C&oacute;digo</th>
        <th>Secci&oacute;n</th>
        <th>Autorizado</th>
        <th>Certificado</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <% if @renglon %>
          <% @renglon.each do |k, v| %>
            <td>
              <%= v %></td>
            <!--con este simbolo imprime -->
          <% end %>
        <% end %>

        <% if @comienzo and not @renglon %>

          <div id="alerta" class="alert-message error" data-alert="alert">
            <a class="close" href="#">&times;</a>

            <p>Tu ID es incorrecta.</p>
          </div>

        <% end %>


      </tr>
      </tbody>
    </table>

  </div>


</div>






