body {
  background-color: #D8D8D8;
}

.container.well {
  background-color: #ffffff;
}

.container.grey {
  background-color: #D8D8D8;
}

p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.8em;
}

h3 {
  font-size: 18px;
  color: #800020

}

#section_headline_medium {
  padding-top: 11px;
}

h1 {
  font-size: 38px;
}

h1, h3 {
  font-weight: normal;
}

.topbar {
  position: relative;
}

.topbar li {
  font-weight: normal;
}