body {
  background-color: #D8D8D8;
}

.container.well {
  background-color: #ffffff;
}

.container.grey {
  background-color: ##D8D8D8;
}

p {
   font-size: 14px;  font-size-adjust: 0.5;
   text-align: justify;

}
